<mat-drawer-container class="example-container" autosize>
  <!--Siderbar-->
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>


  <!--Mi Wrapper-->
  <div class="example-sidenav-content">


    <!--Toolbar-->
    <mat-toolbar color="primary">
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Nuevas Inscripciones</span>
    </mat-toolbar>


    <!--Mis paginas-->
    <main>
      <!-- Cards
        <app-cards></app-cards>
      -->

      <!-- botones e iconos
      <app-buttons-and-icons></app-buttons-and-icons> -->

        <!-- formularios
        <app-formularios></app-formularios> -->

          <!-- dialogos
       <app-dialogos></app-dialogos> -->

       tablas
       <app-tablas>
       </app-tablas>



      <!-- <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, at
        obcaecati magni laborum dicta fugiat ipsa alias et molestiae voluptatem
        asperiores necessitatibus iure aliquam beatae. Magni temporibus deserunt
        fugit recusandae.
      </p> -->
    </main>
  </div>
</mat-drawer-container>
